@page
@model AplicatieFitness.Pages.Abonamente.EditModel

@{
    ViewData["Title"] = "Editare abonament";
}

<h1>Editare abonament</h1>

<h4>Abonament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Abonament.AbonamentId" />
            <div class="form-group">
                <label asp-for="Abonament.Tip" class="control-label"></label>
                <select asp-for="Abonament.Tip" class="form-control" asp-items="Model.TipuriAbonament"></select>
                <span asp-validation-for="Abonament.Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abonament.Pret" class="control-label"></label>
                <input asp-for="Abonament.Pret" class="form-control" />
                <span asp-validation-for="Abonament.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abonament.Descriere" class="control-label"></label>
                <textarea asp-for="Abonament.Descriere" class="form-control"></textarea>
                <span asp-validation-for="Abonament.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
